* {
  display: fixed;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #4d80a0;
  height: 150px;
  width: 100%;
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
}

.nav {
  /* position: fixed; */
  top: 150px; /* below the header */
  left: 0;
  width: 20%;
  height: calc(100vh - 80px); /* full height minus header */
  background: #f9f9f9;
  padding: 20px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.section-grid {
  align-items: end;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav li {
  margin-bottom: 10px;
}

.nav label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav input[type="checkbox"] {
  accent-color: #007bff;
}

.game-list {
  margin-top: -45%;
  margin-left: 20%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #f1f1f1;
  /* height: calc(100vh - 80px); */
  overflow-y: auto;
}

.game-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  height: 200px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.game-card h3 {
  margin-top: 10px;
  font-size: 18px;
}

.game-card p {
  font-size: 14px;
  color: #666;
}

.main-container {
  padding: 10px;
}

/* .rectangle {
  background-color: #333;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
} */

.free-to-game,
.free-to-game-1 {
  font-size: 24px;
  font-weight: bold;
}

/* .flex-row-bcf {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
} */

.Footer {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  font-size: 12px;
  font-weight: bold;
  height: 120px;
  align-items: center;
}

.footer-p {
  margin-top: 50px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .nav {
    width: 100%;
    float: none;
    height: auto;
  }

  .game-list {
    width: 100%;
    float: none;
  }

  .game-card {
    width: 100%;
  }
}
